{% if page and page.meta and page.meta.tag %}
<div id="git-comments" style="margin-top: 50px;"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<style>
.gitment-editor-submit:disabled {
    color: #fff;
    background-color: #3f51b5;
    box-shadow: none;
}
.gitment-editor-submit, .gitment-comments-init-btn {
    color: #fff;
    background-color: #00BCD4;
}
</style>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    id: '{{ page.meta.tag }}',
    owner: '{{ config.extra.gitment.owner }}',
    repo: '{{ config.extra.gitment.repo }}',
    oauth: {
      client_id: '{{ config.extra.gitment.client_id }}',
      client_secret: '{{ config.extra.gitment.client_secret }}'
    }
  });
  gitment.render('git-comments')
</script>
{% endif %}